<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicios" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50957/Servicios.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicios" contract="WCFServicio.IServicios"
                name="BasicHttpBinding_IServicios" />
        </client>
    </system.serviceModel>
</configuration>